<div>
    <div class="jumbotron">
    <form class="form-group row" [formGroup]="profileForm">
        <label class="text-success col-sm-4 col-form-label">Liczba {{firstNumber}} x {{secondNumber}} =</label>
        <input class="form-control col-sm-4" size="2" type="text" formControlName="typedAnswer">
        <div class="col-sm-1"></div>
         <button class="btn btn-outline-primary" (click)="onSubmit()">Sprawdz</button>
    </form>
       <div *ngIf="ok===0"><p class="text-primary">Oczekiwanie na wynik</div>
        <message *ngIf="ok===1" [header]="'Info'" (close)="message()">
            <p class="text-success">Brawo dobra odpowiedz bo  {{firstNumber}} x {{secondNumber}}={{answer}} </p></message>
        <message *ngIf="ok===2" [header]="'Info'" (close)="message()">
            <p class="text-danger">Przykro mi zła odpowiedz. Poprawna odpowiedz to {{firstNumber}} x {{secondNumber}}={{answer}}</p>
        </message>

        <message *ngIf="gameOver" [header]="'Info'" (close)="message()">
            <p class="text-danger">KONIEC GRY</p>
        </message>
    </div>
</div>