<div class="card text-white bg-secondary mb-1" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Zaladuj pierwszy plik</h5>
      <p class="card-text">{{textFromElectron_1}}</p>
    </div>
</div>

<div *ngIf="show">
    <div class="card text-white bg-success mb-1" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Zaladuj drugi plik</h5>
          <p class="card-text">{{textFromElectron_2}}</p>
        </div>
    </div>
</div>


<div *ngIf="showColumnPicker">
  <div class="card text-white bg-primary mb-1" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Wpisz nr kolumn do porownania</h5>

        <div class="form-group">
          <label>Kolumna pierwszego pliku</label>
          <input type="number" class="form-control">
        </div>
        <div class="form-group">
          <label>Kolumna drugiego pliku</label>
          <input type="number" class="form-control">
        </div>
        <button class="btn btn-warning">Zatwierdz</button>
        <p class="card-text">{{textFromElectron_3}}</p>
      </div>
  </div>
</div>

<div *ngIf="showMatchButton">
  <div class="mb-2">
    <button class="btn btn-warning" (click)="compareFiles()">Porownaj pliki</button>
  </div>
</div>