
<div>
    <div class="card text-white bg-success mb-1 w-100">
      <div class="card-body">
        <h5 class="card-title text-center">Zaladuj plik</h5>
        <p class="card-text text-center">{{textFromElectron_2}}</p>
      </div>
    </div>

  <div *ngIf="showColumnPicker">
          <button type="submit" class="btn btn-success" (click)="onSubmit()">Zatwierdz</button>
  </div>


  <br>
  <br>
  <hr>
  <div *ngIf="showTable">
    <table class="table w-100 text-center">
      <tbody>
        <tr *ngFor="let row of rowsContent;index as i">
          <th>{{i}}</th>
          <th *ngFor="let element of row">{{element}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>